---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = "Blog"
---
<BaseLayout pageTitle={pageTitle}>
	<p>Here are my blog posts</p>

        <ul>
            <li><a href="/posts/post-1">First blog post</a></li>
            <li><a href="/posts/post-2">Second blog post</a></li>
            <li><a href="/posts/post-3">Third blog post</a></li>
        </ul>
</BaseLayout>
