---
const platform = "github";
const username = "DevinClane";
---

<footer>
  <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`} target="_blank">{platform}</a>.</p>
  <p>Read the little thoughts on <a href={`https://www.twitter.com/${username}`} target="_blank">twitter</a>.</p>
  <p>See professional history on <a href="https://www.linkedin.com/in/devinlane/" target="_blank">linkedin</a>.</p>
</footer>